[submodule "backend"]
	path = backend
	url = https://github.com/wintermute-cell/wired_cafe_backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/wintermute-cell/wired_cafe_frontend
